{%
set classes = [
'paragraph',
'paragraph--type--' ~ paragraph.bundle|clean_class,
view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
]
%}
{% set link_text = ptoc_link_text
  ? content[ptoc_link_text]
  : 'Paragraph @id' | t({'@id': paragraph.id.value})
%}
{# This will be used as an in-page navigation link, so add the <A> element. #}
<div{{ attributes.addClass(classes) }}>
  <a href="#paragraph-{{ paragraph.id.value }}">{{ link_text }}</a>
  {{ ptoc_link_text ? content|without(ptoc_link_text) : content }}
</div>
